/* Custom Style-sheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 body {
  background-color: #444;
  font-family: 'Bungee', cursive;
  min-height: 100vh;
}

body img {
  display: flex;
  max-width: 30%;
  max-height: 90%;
}

header nav, .dropdown-content {
  background-color: black;
  padding: 10px;
}

.white {
  justify-content: baseline;
  background-image: linear-gradient(to bottom right, #000908, #042522, #06453e, #0e5b54, #0f756b, #198277, #26A69A, #022420, #052d29, #06453e, #0e5b54, #0f756b, #198277, #26A69A);
}

nav .brand-logo, .dropdown-trigger, .right {
  color: white;
}

nav .brand-logo {
  left: 5%;
}

button {
  font-family: 'Bungee', cursive;
}

h1 {
  text-shadow:5px 5px 0px #17756b;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
  margin:auto;
}

.parallax-container .section {
  width: 100%;
}

.year-text {
    display: none !important;
}

.select-wrapper.select-year {
    display: none;
}

.select-dropdown {
  color: black;
  font-family: 'Bungee', cursive;
}

tbody {
    color: black;
}

#date-picker {
  width: 300px;
  text-align: center;
  display: block;
  margin: auto;
  font-weight: bold;
  font-size: 2rem;
  color: white; 
}

ul li button {
  width: 100%;
}

.nasaPic {
  margin: 2rem 2rem;
}

.nasaPic img {
  margin:auto;
}


.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  position: relative;
  bottom: 0;
  padding: 20px;
  margin-top: 75px;
  width: 100vw;
  background-image: linear-gradient(to bottom left, #000908, #042522, #06453e, #0e5b54, #0f756b, #198277, #26A69A, #022420, #052d29, #06453e, #0e5b54, #0f756b, #198277, #26A69A);
}

.exit {
  font-size: 15px;
  font-weight: bold;
  color: rgb(199, 198, 198);
  text-align: center;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 3px #156a62 solid;; 
  outline: none; 
  background-color: #26A69A; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; 
}

nav {
  width: 100vw;
  background: black;
}


  