/* Custom Style-sheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background-color: #444;
  font-family: "Bungee", cursive;
}

header nav,
.dropdown-content {
  background-color: black;
  /* padding: 10px; */
}

.brand-logo {
  margin: 15px;
}
nav .brand-logo,
.dropdown-trigger,
.right {
  color: #26a69a;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

.year-text {
  display: none !important;
}

.select-wrapper.select-year {
  display: none;
}

tbody {
  color: black;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.white {
  width: 100vw;
  background: black;
}

.card {
  width: 33vw;
  margin: auto;
  box-shadow: 0 8px 12px 5px rgba(0, 0, 0, 0.9);
  /* height: 50vh; */
}

.parallax-container {
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-right: 0;
}

